.container {
    display: flex;
    flex-direction: column;
    margin-right: 600px;
}

.container > p,
.container > div > p,
.container > div > ul > li {
    font-size: 24px;
    }
    .container > div {
        padding-top: 40px;
        }
        .container > div > ul {
            font-size: 24px;
            margin-left: 50px;
            }
            .container > div > ul > li {
                margin: 10px 0;
                line-height: 40px;
            }


/*Background*/
.backgroundImage {
    position: fixed; /* Keeps the image in position even when scrolling */
    top: 0;
    right: 0;
    width: 33.33%; /* 1/3 of the screen */
    height: 100vh; /* Full height of the screen */
    background: url('/images/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.backgroundImage > :first-child {
    margin-top:250px;
}



.login_btn{
    width: 300px;
    height: 60px;
    
}

.login_btn_a {
    color: var(--color-primary);
    font-size: 25px;
}


/* Logout Button */
.logout_btn {
    background-color: #e74c3c;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    padding: 12px 24px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    outline: none;
    display: inline-block;
    text-transform: uppercase;
}

    .logout_btn:hover {
        background-color: #c0392b;
        transform: scale(1.05);
    }

    .logout_btn:active {
        background-color: #8e2d1c;
        transform: scale(0.95);
    }


/* User Info */
.user_info {
    display: inline-block;
    margin-right: 10px;
}

/* Container for User Info, Logout Button and Login Button */
.user_info_container {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
}

.AddCarContainer {
    display: flex;
    padding-top: 40vh;
    padding-left: 10vw;
    gap: 100px;
}


.AddCarText {
    position: absolute;
    font-size: var(--font-size-64);
    font-weight: 300;
    color: var(--color-accent);
    top: 20vh;
    left: 10vw;
}
.infoContainer {
    width: 40%;
    }
    .infoContainer :first-child {
        padding-bottom: 40px;
    }
    .infoContainer > p {
        font-size: var(--font-size-24);
    }



/* Tablet and Smaller Desktop */
/*@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo,
  .thirteen img {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
*/